<head>
<% provide(:title, "Edit Clothes") %>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>

<%= render "layouts/header" %>
<div style="display: flex; justify-content:center;">
<h1>Edit Clothes</h1>
</div>
<br>
<div style="display: flex; justify-content:space-evenly; border: solid; border-color: white; padding: 5%;">
    <%= image_tag(@clothe.photo,height: 200, width: 200) if @clothe.photo.attached? %>
    <%= render 'form', clothe: @clothe %>
</div>
<div class="btn" style="display: flex; justify-content:center !important;">
        <%= button_to 'Delete', @clothe, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>



