/* mixins, variables, etc. */
@import "materialize/components/color-variables";

$dark-primary-blue: #1b5927;
$light-primary-blue: #21a9af;
$gray-medium-light: #ffffff;

.navbar {
    background-color: #111344;
}
.nav-brand:hover {
  border: solid;
  border-color: #111344;
  border: 2px;
  border-radius: 2px;
}
.card-div {
    border-radius: 25px;
    background:transparent;
    border: solid 1px;
  }
  
.big-text {
    font-size: 200px !important;
    font-family: sans-serif;
  }
/* navbar */
.gradient-custom {
    /* fallback for old browsers */
    background: linear-gradient(#F9E784, #30848f 0%, rgb(30, 86, 99), rgb(64,153,145));
    background-repeat: no-repeat;
    background-size:auto 300%;
  }
  
  .navbar > a:hover{
    background-color: $light-primary-blue;
    color: #ebeff1;
  }
  

  
  .nav-link {
    color: #ebeff1!important;
  }
  
  .navbar {
    height: 5%;
    padding: 10px;
  }

  .nav-item {
      width: 115px;
  }

  
  .gradient-custom .action-button, .header-blue .action-button:not(.disabled):active {
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 40px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: 0.3rem 0.8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;
  }

  .container {
      width: 100%;
  }

  .logo {
      width: 50%;
  }
    
  .box-button {
      border-radius: 3px;
      border-color: $light-primary-blue;
      border: 1px solid;
      background: transparent;
      transition: background-color 0.25s;
      outline: none;
      padding: 2%; 
  }

  .unboxed-button {
      padding: 2%;
  }

  .navbar {
    justify-content: space-between;
  }

  /* unvisited link */
a:link {
  color: rgb(255, 255, 255) !important;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255) !important;
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255) !important;
  background-color: transparent !important;
  border: #fff5ee;
  padding: 10px;
  font-size: 120%;
}

/* selected link */
a:active {
  color: rgb(226, 255, 227) !important;
}